---
layout: default
title: Future Of Education
---


<div class="pure-g-r expandheight">

  <div class="pure-u-1-2 bg-blue">
    <div class="latest expandheight">
      <div class="sectionwrapper">
        <h1 class="title">latest</h1>
        <ul class="linkposts">
          <!--
              {% capture today %}{{ site.time | date: '%-d' | plus:100 }}{% endcapture %}
              {% capture postdate %}{{ post.date | date: '%-d' | plus:100 }}{% endcapture %}
              {{ today }}
              {{ postdate }} 
            -->

          {% for post in site.tags.post limit:5 %}
              {% if post.categories contains 'posts' %}
                  <li itemscope itemtype ="http://schema.org/Article">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <span class="title" style="color:white;" itemprop="name">{{ post.title }}</span> - <span>
                      {{ post.excerpt }}</span>
                    </a>
                    <p class="meta">
                      <span class="date" itemprop="datePublished">{{ post.date | date: "%-d %b" }}</span>
                    </p>                     
                  </li>
              {% endif %}
              {% unless post.categories contains 'posts' %}
                  <li itemscope itemtype ="http://schema.org/Article">
                    <a href="{{ post.refurl }}" target="_blank">
                      <span class="title" itemprop="name">{{ post.title }}</span> -  <span itemprop="articleSection">
                      {{ post.subtitle }}</span>
                    </a> 
                    <p class="meta">
                      <span itemprop="url"><a href="{{ post.refurl }}" target="_blank">{{ post.source }}</a></span>
                      <span class="date" itemprop="datePublished">{{ post.date | date: "%-d %b %y" }}</span>
                    </p>                     
                  </li>
              {% endunless %}
          {% endfor %}
        </ul>
        <nav class="center cl-effect-4"><a href="{{ site.baseurl }}/latest/" class="more">more</a></nav>
      </div>
    </div>
  </div>

  <div class="pure-u-1-2 bg-green">
    <div class="deep-dives expandheight">
      <div class="sectionwrapper">
        <h1 class="title">deep dives</h1>
        <ul class="posts">
          {% for post in site.posts %}
              {% if post.categories contains 'deep-dive' limit:5 %}
                  <li itemscope itemtype ="http://schema.org/Article">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <p class="title" itemprop="name">{{ post.title }}</p>
                      <p>{{ post.excerpt }}</p>
                    </a> 
                  </li>
              {% endif %}
          {% endfor %}
            <li>
              <a href="#">
                <p class="title disabled">More coming! Check back soon...</p>
              </a>
            </li>
        </ul>
        <!--nav class="center cl-effect-4">
          <a href="{{ site.baseurl }}/deep-dives/" class="more">more</a>
        </nav-->
      </div>
    </div>
  </div>
  
</div>

<div id="social">
        <!-- Place this tag where you want the +1 button to render. -->
        <div class="g-plusone" data-size="medium" style="padding-right: 25px;"></div>
        <div class="fb-like" data-href="https://www.facebook.com/futureofed" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>

