---
layout: default
title: Future Of Education
---


<div class="pure-g-r expandheight">

  <div class="pure-u-1-2 bg-blue">
    <div class="latest expandheight">
      <div class="sectionwrapper">
        <h1 class="title">latest</h1>
        <ul class="linkposts">
          <!--
              {% capture today %}{{ site.time | date: '%-d' | plus:100 }}{% endcapture %}
              {% capture postdate %}{{ post.date | date: '%-d' | plus:100 }}{% endcapture %}
              {{ today }}
              {{ postdate }} 
            -->

          {% for post in site.categories.linkpost limit:5 %}
                  <li>
                    <a href="{{ post.refurl }}" target="_blank">
                      <span class="title">{{ post.title }}</span> - 
                      {{ post.subtitle }}
                    </a> 
                    <p class="meta">
                      <span><a href="{{ post.refurl }}" target="_blank">{{ post.source }}</a></span>
                      <span class="date">{{ post.date | date: "%-d %b" }}</span>                      
                  </li>
          {% endfor %}
        </ul>
        <a href="latest/">more</a>
      </div>
    </div>
  </div>

  <div class="pure-u-1-2 bg-green">
    <div class="deep-dives">
      <div class="sectionwrapper">
        <h1 class="title">deep dives</h1>
        <ul class="posts">
          {% for post in site.posts %}
              {% unless post.categories contains 'linkpost' limit:5 %}
                  <li>
                    <a href="{{ post.url }}" target="_blank">
                      <p class="title">{{ post.title }}</p>
                      <p>{{ post.subtitle }}</p>
                    </a> 
                  </li>
              {% endunless %}
          {% endfor %}
        </ul>
        <a href="deep-dives/">more</a>
      </div>
    </div>
  </div>
  
</div>

