---
layout: default
title: Future Of Education
---


    <div class="latest single expandheight bg-blue">
      <div class="sectionwrapper">
        <h1 class="title">latest</h1>

          <nav id="pagination">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
            <a href="/" title="Previous Page">&laquo; Previous</a>
            {% else %}
            <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
            {% endif %}
          {% endif %}

          {% if paginator.next_page %} 
          <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
          {% endif %} 
          </nav>

          <ul class="linkposts pure-g-r">
            <!-- This loops through the paginated posts -->
            {% for post in paginator.posts %}
              <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
              <p class="author">
                <span class="date">{{ post.date }}</span>
              </p>
              <div class="content">
                {{ post.content }}
              </div>
            {% endfor %}
          </ul>
      </div>
    </div>

