html {
	font-size: 16px; //base font size
}
body {
	font-family: @fd-font;
	height: 100vh;
	background-color: @fd-green;
	.site {
		height: 100vh;
		.main {
			width: 11.3rem;
			height: 100vh;
			position: fixed;
			padding: 2rem;
			background-color: @fd-red;
		}
		.content {
			height: 100vh;
			padding-left: 15.3rem;

			.pure-u-1-2 {
				height: 100vh;
			}
		}
		.latest {
			height: 100%;
			padding: 2rem;
			background-color: @fd-blue;
		}
		.deep-dives {
			height: 100%;
			padding: 2rem;
			background-color: @fd-green;
		}
	}
}

@media (max-width: 1024px) {
	body .site {
		.main {
			position: static;
			width: auto;
			height: auto;
		}
		.content {
			padding-left: 0;
		}
	}
}


@media (max-width: 767px) {
	body {
		height: auto;
		.site {
			height: auto;
			.main, .content, .latest, .deep-dives {
				height: auto;
			}
			.content .pure-u-1-2 {
				height: auto;
			}
		}
		 
	}
}
