h1.title {
	width: 100%;
	color: white;
	font-weight: 700;
	font-size: @fd-font-title;
	padding-bottom: .4em;
	border-bottom: solid 1ex white;
	margin: 0;

	a {
		color: inherit;
		text-decoration: none;
	}

	&.sitetitle {
		font-size: @fd-font-sitetitle;
	}
}

ul.linkposts,
ul.posts {
	list-style: none;
	padding: 2rem 0 0 0;
	color: @fd-grey;
	font-weight: 400;
	font-size: @fd-font-normal;

	li {
		margin-bottom: 2.250rem;
	}

	a {
		text-decoration: none;
		color: inherit;

		span.title, p.title {
			font-weight: 700;
			font-size: @fd-font-head;
		}
		p {
			margin: 0;
			&.title {
				color: white;
			}
		}
	}

	p.meta {
		color: white;
		font-size: @fd-font-small;
		margin: .4rem 0;

		a:visited {
			color: @fd-grey;
		}

		span.date {
			float: right;
			color: @fd-grey;
		}
	}
}

ul.linkposts {
}

ul.posts {

}