---
layout: default
title: Future Of Education
---


    <div class="latest single expandheight bg-blue">
      <div class="sectionwrapper bg-blue">
        <h1 class="title">latest</h1>
          <div class="linkposts pure-g-r">
            {% for post in site.tags.post limit:50 %}
              {% if post.categories contains 'posts' %}
                  <article class="pure-u-1-2">
                    <div class="postlistwrapper">
                      <a href="{{ site.baseurl }}{{ post.url }}">
                        <span class="title" style="color:white;">{{ post.title }}</span> - 
                        {{ post.excerpt }}
                      </a> 
                      <p class="meta">
                        <span class="date">{{ post.date | date: "%-d %b" }}</span>
                      </p>
                    </div>
                  </article>
              {% endif %}
              {% unless post.categories contains 'posts' %}
                  <article class="pure-u-1-2">
                    <div class="postlistwrapper">
                      <a href="{{ post.refurl }}" target="_blank">
                        <span class="title">{{ post.title }}</span> - 
                        {{ post.subtitle }}
                      </a> 
                      <p class="meta">
                        <span><a href="{{ post.refurl }}" target="_blank">{{ post.source }}</a></span>
                        <span class="date">{{ post.date | date: "%-d %b" }}</span>
                      </p>
                    </div>
                  </article>
              {% endunless %}
            {% endfor %}

          </div>
          <nav class="center cl-effect-4"><a href="{{ site.baseurl }}/archive/" class="more">even more - browse the archives</a></nav>
      </div>
    </div>

